{
    "parser": "babel-eslint",
    "extends": "react",
    "env": { "browser": true, "node": true },
    "settings": {
        "react": {
            "version": "detect"
        }
    },
    "rules": {
        "space-before-function-paren": "off"
    }
}
